/* TODO Add site wide styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: var(--dark);
    color: var(--light);
}

:root {
    --dark: #475385;
    --dark2: #1c1f2e;
    --light: rgb(236, 234, 234);
    --accent: #f9c784;
    --accent2: #8f6d41;
}
